body{
    padding: 0;
    margin: 0;
}
.daohang {
    display: grid;
    grid-template-columns: 1fr 9fr 1fr 1fr;
}

.daohang img {
    width: 8vw;
    height: 8vw;
}

.daohang div {
    padding-right: 3vw;
}
#reSou{
    display: grid;
    grid-template-columns: 1fr 8fr;
    border: 1px solid #DDD;
    border-radius: 1vw;
    background-color: rgb(235, 235, 236);
    width: 90%;
    height: 80%;
    margin-top: 0.5vh;
    justify-content: center;
    align-content: center;
}
#reSou img{
    width: 6vw;
    height: 6vw;
    margin-left: 1vw;
}
.daohang input {
    width: 98%;
    height: 80%;
    background-color: rgb(235, 235, 236);
    border: none;
}

.classes {
    display: grid;
    grid-template-columns: repeat(13, 15vw);
    justify-items: center;
    margin-top: 1vh;
    margin-left: 2vw;
}

.classes div a {
    text-decoration: none;
    color: #ddd;
    font-size: 1.1em;
}

.classes div a:target {
    text-decoration: none;
    color: black;
}

.mainContents header img {
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    margin-right: 2vw;
}

.photos img {
    width: 45vw;
    border-radius: 1vw;
}

body>header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 995;
    background-color: white;
}

.mainContents {
    margin-top: 10vh;
}

article {
    border-top: 1px solid #DDD;
    padding: 2vh 3vw;
}

article header {
    display: grid;
    grid-template-columns: 1fr 8fr;
}

.time {
    font-size: 60%;
    color:#939393;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: rgb(213, 213, 214);
    font-size: 3.7vw;
    text-align: center;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgb(213, 213, 214);
    font-size: 3.7vw;
    text-align: center;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgb(213, 213, 214);
    font-size: 3.7vw;
    text-align: center;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(213, 213, 214);
    font-size: 3.7vw;
    text-align: center;
}
footer img{
    width: 6vw;
    height: 6vw;
    margin-right: 1vw;
}
footer > div{
    /* display: inline; */
    display: grid;
    grid-template-columns: 1fr 4fr;
}
footer{
    display: grid;
    margin-top: 1vh;
    grid-template-columns: 25vw 25vw 25vw 10vw;
    justify-content: space-between;
}
article p{
    margin-top: 1.5vh;
}